body{
    background-color: #AB9FAB;
    font-family: 'MonteCarlo', cursive;
}

.navbar{
    background-color: #d2cfd0;
    text-align: left;
    color: white;
    font-family: 'MonteCarlo', cursive;
    height: 100px;
    margin-left: 10px;
}

h1 {
 font-family: 'MonteCarlo', cursive;
color: #050302;
text-align: center;
}
h2{
    text-align: center;
    color: black;
}
h3{
    text-align: center;
    color: black;
}
h4{
   font-family: 'Times New Roman', Times, serif;
    padding: 1px;
    text-align:right;
    color: #050302;
}
.container{
    text-align: left;
    background-color: #eeeefe;
    height: 100%;
    width: 300px;
    position: fixed;
    top: 120;
    left: 0;
    padding-top: 60px;
    float: left;
    margin-left: 18px;
    z-index: 5;
}
.search{
    text-align: center;
    color:#ffffff ;
}
label{
    color: black;
}
#btn{
    float: left;
    margin-top: 10px;
    margin-left: 100px;
    background-color: blue;
}
.checkbox{
    margin-left: 10px;
}
.card{
    color: #ffffff;
    margin-left: 320px;
}
/* #signup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    padding: 20px;
    border-radius: 5px;
  } */

  #drinks img{
    width: 50%;
    height: auto;
    margin-left: 260px;
    max-width: 800px;
    max-width: 800px;
    margin-top: 50px;

  }
  