body{
    background-image: url('https://raw.githubusercontent.com/DOROTHY2322/phase-1-project/main/gradient.png');
    font-family: 'MonteCarlo', cursive;
}

.navbar{
    text-align: center;
    color: white;
    
}

h1 {
 font-family: 'MonteCarlo', cursive;
}